# Dependencies
node_modules/

# Build output
dist/
dist-web/
src-tauri/target/
src-tauri/gen/schemas/

# key files
src-tauri/gen/android/app/keystore.properties
src-tauri/gen/android/app/release.keystore


# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Environment
.env
.env.*

# Claude Co

